@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply min-h-screen font-inter;
}

.rn-gradient-circle {
  background-image: linear-gradient(45deg, #059dff, #36c6f0);
  -webkit-filter: blur(100px);
  filter: blur(100px);
  @apply fixed w-[500px] h-[500px] top-64 -left-64 -z-10 rounded-full opacity-25;
}

.rn-gradient-circle.theme-pink {
  background-image: linear-gradient(45deg, #fb5343, #6549d5);
  @apply -top-64 -right-64 left-auto bottom-auto;
}

.gradient-bg {
  background: linear-gradient(
      95deg,
      #059dff 15%,
      #6549d5 45%,
      #e33fa1 75%,
      #fb5343
    )
    95%/200% 100%;
}

.gradient-text {
  background: -webkit-gradient(
      95deg,
      #059dff 15%,
      #6549d5 45%,
      #e33fa1 75%,
      #fb5343 100%
    )
    98%/200% 100%;
  background: linear-gradient(
      95deg,
      #059dff 15%,
      #6549d5 45%,
      #e33fa1 75%,
      #fb5343
    )
    98%/200% 100%;
  @apply bg-clip-text text-transparent;
}

.menu a {
  @apply font-medium bg-inherit hover:bg-inherit focus:bg-inherit duration-200;
}

.menu a:hover {
  @apply text-primary;
}

.menu a.active {
  @apply text-primary;
}

.btn-gradient {
  background: linear-gradient(
      95deg,
      #059dff 15%,
      #6549d5 45%,
      #e33fa1 75%,
      #fb5343
    )
    95%/200% 100%;
  @apply text-white px-8;
}

.btn-gradient:hover {
  background: linear-gradient(
      95deg,
      #059dff 15%,
      #6549d5 45%,
      #e33fa1 75%,
      #fb5343
    )
    70%/200% 100%;
}

.container {
  @apply mx-auto px-4 md:px-6 xl:px-8;
}

.page-header-dark {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.7)
    ),
    url("https://i.ibb.co/qNpgyS4/Teachers-looking-at-camera-on-our-photography-training-day.jpg");
}

.page-header-light {
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.7)
    ),
    url("https://i.ibb.co/qNpgyS4/Teachers-looking-at-camera-on-our-photography-training-day.jpg");
}

.breadcrumbs a,
.footer a {
  @apply hover:text-primary duration-200;
}
